.app-container{
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;

  height: 100vh;
  display: flex;
  flex-direction: column;
}

.default-message{
  color: rgb(118, 118, 118);
  text-align: center;
}